.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  // text-align: center;
  margin-top: 10px;

  .inputFuelValue {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .input {
      margin-top: 2.5rem;
    }

    .alert {
      text-align: center;
      margin-top: 5rem;
    }
  }
}
